<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:\Users\EL_Khapiir\Downloads\AirMalta-main\AirMalta-main">
        <classes>
            <class name="org.example.Runner"></class>


        </classes>

    </test>
</suite>